<?xml version="1.0"?>
<model>
  <name>rover_differential_lidar_2d</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Riccardo Enrico</name>
    <email>riccardo.enrico97@proton.me</email>
  </author>
  <description>rover_differential with a 2D Scanning Lidar (lidar_2d_v2) mounted on top of the chassis.</description>
</model>
