<?xml version="1.0"?>
<model>
  <name>rover_differential_lidar_3d</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Riccardo Enrico</name>
    <email>riccardo.enrico97@proton.me</email>
  </author>
  <description>rover_differential with a VLP-16-class 3D scanning lidar (lidar_3d_v1) mounted on top of the chassis.</description>
</model>
